#counts{
	padding: 60px;
	.score{
		width: 100%;
		text-align: center;
		padding: 40px 0px;

		i{
			// text-align: center;
			font-size: 50px;
			color: $colorBtn;
			

			padding: 20px 0px;
			
		}
		.firstCount, .secondCount, .thirdCount, .fourthCount{
			font-size: 40px;
			padding: 10px 0px;
			// font-weight: 600px;
			// text-align: center;
		}
		.divider{
			height: 2px;
			width: 40px;
			// text-align: center;
			background: $colorMain;
			// margin: 20px 107px;
			position: absolute;
			left:calc(50% - 20px);
			margin-top: -10px;
		}
		span{
			font-size: 18px;
		}
	}
}