#testimonials{
	position: relative;
	padding: 50px 10px;
	p{
		font-size: 48px;
		font-weight: bold;
		margin: 30px 0px;

	}
	.dividerTest{
		height: 2px;
		width: 40px;
		background: $colorBtn;
		display: inline-block;
		position: absolute;
		left: calc(50% - 20px);
		top: 100px;
		margin-top: 20px;
	}
	.test{
		.innerTest{
			margin-top: 30px;
			.testTop{
				img{
					border-radius: 100%;
					float: left;
				}
				p{
					font-size: 20px;
					color: $colorBtn;
					float:left;
					margin: 0;
					margin: 0px 15px;
					display: block;
				}
				span{
					font-size: 15px;
					margin-left: 15px;
					color: lightgray;
					// float:left;
				}

			}
			.testBottom{
				.txt{
					font-size: 15px;
					font-style: italic;
					color: #313132;
					font-weight: normal;
				}
			}
		}
	}
	.dots{
			width: 100px;
			height: 30px;
			position: absolute;
			z-index: 5;
			top: 470px;
			left: calc(50% - 50px);
			.dotFirst, .dotSecond, .dotThird{
				width: 12px;
				height: 12px;
				margin: 5px;
				display: inline-block;
				border-radius: 100%;
				background: #777;
				cursor: pointer;
				&:hover{
					background: $colorBtn;
					transition: .7s ease;
				}
			}
		}
		.testSlide{
			width: 100%;
			height: 270px;
			overflow: hidden;
		}
}